@import "../../colors.scss";

.knockout-container {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 100%;
  overflow: auto;

  .stage {
    .header {
      color: $color-background;
      background-color: $color-primary;
      padding: 12px;
      border-radius: 24px;
      font-weight: bold;
      max-width: 200px;
      width: 100%;
      text-align: center;
      margin: 0 auto 20px;
    }

    .fixtures-container {
      .fixture-container {
        flex-direction: column;

        .fixture {
          min-width: 300px;
          max-width: 100%;
        }
      }
    }
  }

  .stage:not(:last-child) {
    margin-right: 20px;
  }

  .stage.column2 .fixtures-container .fixture-container .fixture {
    position: relative;

    &:nth-child(1) {
      top: 100px;
    }

    &:nth-child(2) {
      top: 300px;
    }
  }

  .stage.column3 .fixtures-container .fixture-container {
    flex-direction: column-reverse;

    .fixture {
      position: relative;

      &:nth-child(1) {
        top: 210px;
      }

      &:nth-child(2) {
        top: 210px;
      }
    }
  }
}
