@import "../../colors.scss";

.faq-container {
  max-width: 1200px;
  width: 100%;

  .faq__title {
    background-color: $color-box-background;
    padding: 24px 30px;
    border-radius: 30px;
  }

  .faq__item {
    width: 100%;
    padding: 24px 30px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-faq-border;
    }

    .faq__item__header {
      cursor: pointer;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .MuiSvgIcon-root {
        transition: all 1s ease;

        &.active {
          transform: rotate(180deg);
        }
      }
    }
  }
}
